# macOS
.DS_Store
**/.DS_Store

# Python
__pycache__/
**/__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/
.cache/
.config/
.keras/


# Rasa
models/
.rasa/

# Env
.env
sub_agents_docker_compose/.DS_Store
